.channelrow{
    display:flex;
    align-items: center;
    width: 70%;
}
.channelrow__text{
    display: flex;
    flex-direction: column;
}

.channelrow__text > p{
    font-size: small !important;
    color: #606060;
}

.channelrow__logo{
    height: 120px !important;
    width: 120px !important;
    margin: 10px 60px;
}

.channelrow__text> h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}